@mixin vert-align($perc, $perc2){
  position: relative;
  top: $perc;
  @include transform(translateY($perc2));
}

// Breakpoints
@mixin bp($point) {
  $bp-mobile: "(max-width: 767px)";
  $bp-sm-tablet: "(max-width: 978px)";
  $bp-tablet: "(max-width: 1024px)";
  $bp-md: "(max-width: 1100px)";
  $bp-md-two: "(max-width: 1200px)";
  $bp-large: "(max-width: 1300px)";

  @if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  } 
  @else if $point == sm-tablet {
    @media #{$bp-sm-tablet} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == md {
    @media #{$bp-md} { @content; }
  }
  @else if $point == md-two {
    @media #{$bp-md-two} { @content; }
  }
  @else if $point == large {
    @media #{$bp-large} { @content; }
  }
}