/* ================== */
/* === TYPOGRAPHY === */
/* ================== */

h1{@include open-light;font-size:36px;line-height:44px;color:$white;}
h2{@include open-light-it;font-size:20px;line-height:23px;color:$offgrey;}
p{@include open-reg;font-size:14px;line-height:19px;color:$darkgrey;}
.title{position:absolute;top:20px;left:0;right:0;margin:auto;text-align:center;}
a{text-decoration:none;}

/* ================== */
/* === BUTTONS ====== */
/* ================== */

.main-btn{@include open-semi;background-color:$orange;padding:8px 40px;border-radius:15px;color:$white;text-align:center;margin:0 auto;display:inline-block;transition:all .2s ease-in-out;
	&:hover{background-color:$darkgrey;}
}

/* ============== */
/* === INPUTS === */
/* ============== */

/* ================== */
/* === OTHER BASE === */
/* ================== */

*{box-sizing:border-box;}
svg{fill:white;}
body{width:100vw;height:100vh;background-color:$offblue;padding:90px 25px 25px;}
.main-wrap{}
.clearfix{
	&:before, &:after{content: "";display:table;} 
	&:after{clear:both;}
}
[v-cloak]{display: none;}