/* ==================== */
/* === PAGE1 === */
/* ==================== */

.page1{
	.illustration{width:90%;margin-bottom:50px;}
	p{max-width:52%;margin:0 auto 20px;}
}

/* ==================== */
/* === RECEIPTS === */
/* ==================== */

.receipt{width:35%;display:inline-block;float:left;background-color:$white;@include box-shadow(3px 3px 10px 0px rgba(0,0,0,0.3));margin:20px 0 0 85px;
	.receipt-body{padding:15px 20px;
		input{width:38px;padding:0px;-webkit-appearance:none;border:none;border-bottom:1px solid $blue;transition:all .2s ease-in-out;color:$blue;
			&::-webkit-inner-spin-button{display:none;}
			&:focus{outline:none;border-bottom:1px solid $orange;color:$orange;}
		}
		input[type="text"]{width:100%;}
	}
	p{display:inline-block;}
	.receipt-header{background-color:$lightgrey;width:100%;padding:15px 65px;text-align:center;}
	.receipt-labels{margin-bottom:25px;
		p{font-size:11px;color:$offgrey;
			&:last-of-type{float:right;}
		}
	}
	.receipt-sales{height:210px;border-bottom:1px solid $lightgrey;
		p{margin-right:15px;
			span{margin-right:4px;}
			&:last-of-type{float:right;margin-right:0px;}
		}
	}
	.receipt-sale-row{margin-bottom:20px;}
	.receipt-subtotals, .receipt-totals{margin:20px 0;border-bottom:1px solid $lightgrey;padding-bottom:10px;
		p{width:50%;float:left;margin-bottom:5px;
			&:nth-of-type(even){float:right;text-align:right;}
		}
	}
	.receipt-card p:last-of-type{float:right;text-align:right;@include open-bld;}
	.add-sale{font-size:10px;background:$blue;padding:3px 6px;border-radius:8px;color:$white;margin-top:4px;display:inline-block;float:left;}
}
