/* ==================== */
/* === PAGE1 === */
/* ==================== */

.page1{display:block;
	.illustration{width:90%;margin-bottom:50px;}
	p{max-width:52%;margin:0 auto 20px;}
}

/* ==================== */
/* === RECEIPTS === */
/* ==================== */
