/* ==================== */
/* === PAGE1 === */
/* ==================== */

.page1{
	.illustration{width:90%;margin-bottom:50px;}
	p{max-width:52%;margin:0 auto 20px;}
}

/* ==================== */
/* === RECEIPTS === */
/* ==================== */

.receipt{width:35%;display:inline-block;float:left;background-color:$white;@include box-shadow(0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24));margin:20px 0 0 85px;transition:all 0.3s cubic-bezier(.25,.8,.25,1);
	.receipt-body{padding:15px 20px;
		input{width:38px;padding:0px;border:none;border-bottom:1px solid $lightgrey;transition:all .2s ease-in-out;color:$blue;
			&::-webkit-inner-spin-button{display:none;}
			&:focus{outline:none;border-bottom:1px solid $orange;color:$orange;}
			&[type="text"]{width:100%;}
			&[type="number"]{text-align:right;}
			&:hover{border-bottom:1px solid $darkgrey;}
		}
	}
	p{display:inline-block;}
	.receipt-header{background-color:$lightgrey;width:100%;padding:15px 65px;text-align:center;}
	.receipt-labels{margin-bottom:25px;
		p{font-size:11px;color:$offgrey;
			&:last-of-type{float:right;}
		}
	}
	.receipt-sales{height:210px;border-bottom:1px solid $lightgrey;
		p{margin-right:15px;
			span{margin-right:4px;}
			&:last-of-type{float:right;margin-right:0px;}
		}
	}
	.receipt-sale-row{margin-bottom:20px;
		&:hover > .remove-sale{display:inline-block;}
	}
	.receipt-subtotals, .receipt-totals{margin:20px 0;border-bottom:1px solid $lightgrey;padding-bottom:10px;
		p{width:50%;float:left;margin-bottom:5px;
			&:nth-of-type(even){float:right;text-align:right;}
		}
	}
	.receipt-card p:last-of-type{float:right;text-align:right;@include open-bld;}
	.sale-btn{font-size:10px;transition:all .2s ease-in-out;display:inline-block;background:$lightgrey;border:1px solid $blue;color:$blue;
		&:hover{border:1px solid $orange;background-color:$white;color:$orange;}
	}
	.add-sale{padding:3px 8px;border-radius:8px;margin-top:4px;float:left;font-size:12px;width:100%;text-align:center;
		span{margin-right:2px;}
	}
	.remove-sale{padding:1px 3px;border-radius:15px;text-align:center;line-height:10px;width:15px;height:15px;display:none;}
	&:hover{@include transform(translateY(-1px)); @include box-shadow(0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23));}
}

/* ==================== */
/* === SUMMARY === */
/* ==================== */

.summary{width:100%;@include box-shadow(0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24));padding-bottom:25px;
	.summary-heading{padding:25px;background-color:$darkgrey;
		h3{display:inline-block;
			&:last-of-type{float:right;}
			i{padding-left:10px;border-left:1px solid white;margin-left:10px;font-size:18px;}
		}
	}
	.summary-top{padding:8px 25px;background-color:$lightblue;border-bottom:1px solid $lightgrey;
		input{margin-top:7px;}
		i{color:$grey;font-size:22px;}
		.amount{float:right;text-align:center;
			p{display:block;color:$grey;
				&:last-of-type{font-size:28px;color:$darkgrey;line-height:32px;}
			}
		}
	}
	.summary-body{padding:0 25px;background-color:$white;display:block;
		.memo{width:70%;}
		.summary-totals{width:30%;padding-left:40px;text-align:right;padding-right:15px;
			input{width:70%;float:left;font-size:14px;}
			.separator{border-top:1px solid $lightgrey;margin:12px 0 15px;}
			h3{color:$darkgrey;font-size:20px;margin-top:31px;
				&:first-of-type{margin-bottom:14px;margin-top:0px;}
				&:last-of-type{margin-top:4px;}
			}
			span{@include open-bld;font-size:18px;}
		}
		.memo, .summary-totals{display:inline-block;float:left;margin-top:25px;}
	}
	input,textarea{padding:8px 12px;border:1px solid $lightgrey;font-size:16px;margin-right:8px;@include open-light;width:auto;}
	input.dummy-dropdown{background-image:url('/img/drop-arrow.png');background-repeat:no-repeat;background-size:36px 100%;background-position:100%;}
	label,textarea{display:block;width:100%;color:$grey;}
}

/* ==================== */
/* === TABLES === */
/* ==================== */

table{padding:25px 25px 0;background-color:$white;display:block;display:table;width:100%;border-collapse:inherit;
	tbody{width:100%;}
	th{border-top:1px solid $lightgrey;background-color:$lightblue;padding:10px 15px;color:$blue;text-transform:uppercase;font-size:15px;
		&.lower{text-transform:none;}
	}
	td{padding:10px 15px;color:$grey;
		span{@include open-light;}
	}
	th,td{border-bottom:1px solid $lightgrey;}
	.right{text-align:right;}
    i{color:$blue;display:inline-block;text-align:center;font-size:15px !important;margin-right:8px;
    	&.circle{border:1px solid $blue;margin-left:8px;border-radius:15px;width:15px;height:15px;vertical-align:middle;padding:1px;font-size:10px !important;}
    }
    &.two-col{
    	th, td{width:90%;border-left:1px solid $lightgrey;}
    	th+th, td+td{width:10%;border-right:1px solid $lightgrey;}
    }
    &.three-col{
    	th{border-left:1px solid $lightgrey;}
    	th+th{border-right:1px solid $lightgrey;}
    	td{width:34%;border-left:1px solid $lightgrey;}
    	td+td{width:50%;border-right:1px solid $lightgrey;}
    	td+td+td{width:16%;border-right:1px solid $lightgrey;}
    }
}
