/* ================== */
/* === BASE === */
/* ================== */

.title{
	@include bp(mobile){font-size:18px;}
}

.page1 {
	@include bp(md-two){
		.illustration{width:220px;height:auto;}
	}
	@include bp(mobile){
		p{max-width:95%;text-align:center;}
		.illustration{margin-bottom:20px;}
	}
}

table{
	@include bp(mobile){max-width:100%;padding:15px;
		td{font-size:12px;padding:10px;}
	}
}

/* ================== */
/* === LAYOUT === */
/* ================== */

body{
	@include bp(mobile){padding:80px 15px 25px;}
}

#sidebar{
	@include bp(large){padding:35px;}
	@include bp(sm-tablet){width:33%;}
	@include bp(mobile){width:100%;display:block;position:relative;border-radius:8px 8px 0 0;height:auto;padding-bottom:0px;
		nav{position:relative;display:block;}
		ol{width:100%;margin-bottom:20px;}
		li{display:inline-block;width:33%;background-color:$lightgrey;text-align:center;margin-right:-4px;
			a{opacity:1;
				.num{background-color:transparent;width:100%;height:100%;border-radius:0;}
				&.active{
					.num{background-color:$orange;}
					span.label{display:block;width:100%;}
				}
			}
		}
		span.label{position:absolute;top:40px;display:none;left:0;}
	}
}

#content{
	@include bp(large){padding:35px;}
	@include bp(sm-tablet){margin-left:33%;width:67%;}
	@include bp(mobile){border-radius:0 0 8px 8px;margin-left:0;width:100%;padding:20px;height:auto;}
}

/* ================== */
/* === MODULES === */
/* ================== */

.receipt{
	@include bp(large){margin-left:60px;width:40%;}
	@include bp(md){margin-left:30px;width:45%;}
	@include bp(sm-tablet){width:95%;}
	@include bp(mobile){margin-left:0;width:100%;
		.receipt-body{padding:15px;}
		.receipt-sales p{margin-right:5px;}
		.receipt-header{padding:15px;}
		.receipt-body input[type="text"]{width:80%;font-size:11px;}
	}
}

.summary{
	@include bp(md-two){
		.summary-body{
			.summary-totals{width:40%;}
			.memo{width:50%;}
		}
	}
	@include bp(sm-tablet){
		.summary-top input{
			&:first-of-type{width:32%;}
			&:last-of-type{width:25%;}
		}
		.summary-body{
			.summary-totals{width:55%;
				h3{font-size:17px;}
				input{font-size:12px;}
			}
			.memo{width:40%;}
		}
		.summary-heading{text-align:center;
			h3{line-height:22px;
				&:last-of-type{float:none;}
			}
		}
	}
	@include bp(mobile){
		input, textarea{border-color:$grey;}
		.summary-top{position:relative;
			input{width:100% !important;}
			i{position:absolute;top:75px;right:38px;}
			.amount{float:none;padding:15px 0 10px;
				p{font-size:18px;margin-right:14px;}
			}
		}
		.summary-body{
			.memo{width:100%;}
			.summary-totals{width:100%;}
		}
	}
}

.account{
	@include bp(md-two){
		td, th{font-size:12px;}
	}
	@include bp(sm-tablet){
		.account-sidebar{display:none;z-index:1;}
		.account-body{margin-left:0;width:100%;
			.account-body-header li.mobile-nav-trigger{display:block;z-index:2;}
			.account-body-top{text-align:center;padding:15px;
				h2{display:block;margin-bottom:15px;}
				a{width:100%;}
			}
			.account-body-table{overflow:hidden;overflow-x:scroll;}
		}
	}
}